@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Fonts */
@font-face {
    font-family: "Urbanist Regular";
    src: url("./fonts/Urbanist/Urbanist-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Urbanist Bold";
    src: url("./fonts/Urbanist/Urbanist-Bold.ttf") format("truetype");
}